package views

templ Layout(title string) {
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{ title }</title>
        <link href="/static/css/tailwind.css" rel="stylesheet"/>
    </head>
    <body class="bg-back text-text w-screen h-screen flex justify-center items-center">
        { children... }
    </body>
    </html>
}