root = "."
tmp_dir = "bin"

[build]
  bin = "./bin/webserver"
  cmd = "templ generate && wire ./... && go build -o ./bin ./..."
  delay = 1000
  exclude_dir = ["static", "data", "node_modules"]
  exclude_regex = [".*_templ.go", ".*_gen.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_ext = ["go", "tpl", "tmpl", "templ", "html"]
  kill_delay = "1s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = true
